VITE_SUPABASE_URL=https://project-id.supabase.co
VITE_SUPABASE_ANON_KEY=isi_anon_public_key_kamu
VITE_WHATSAPP_NUMBER=6281234567890
VITE_SUPABASE_LEAD_TABLE=leads
VITE_SUPABASE_PROJECT_TABLE=portfolio_projects
VITE_SUPABASE_CATEGORY_TABLE=project_categories
VITE_SUPABASE_PROJECT_BUCKET=codexa-projects
